/* page background */



html, body {
    background: linear-gradient(to bottom, rgb(32, 55, 66), rgb(58, 81, 92));
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    overflow: auto;

}

.nav-logo {
    border-radius: 5px;
}




#deck-container {
    background-color: rgba(95, 158, 160, 0.3);
    width: 80%;
    height: auto;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
   overflow: auto;

}

.card-deck {
    padding: 20px 35px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 90px;
    padding-bottom: 90px;
}

.card {
    min-width: 220px;
    max-width: 220px;
    height: 350px;
    box-shadow: 0px 2px 5px black;
    margin: 15px;
    margin-top: 30px;

   
    
}

.card-photo {
    min-width: 200px;
    max-width: 220px;
    height: auto; 
    padding: 5px;
    border-radius: 10px;
}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

/* toggle button */


#button {
    text-align: center; 
    /* margin-top:60px; */
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    position: absolute;
    margin: 10px 10px;
  }
  
  #button:focus {
    border: none;
    outline: none;
  }
  
  /* day mode styles */
  
  /* background */
  
  .dayMode {
    background: linear-gradient(to top, rgb(221, 232, 238), rgb(141, 170, 184));
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    
    
  }

  /* button */
  
  .button-day {
   background-color: rgb(136, 134, 133);
   color: white;
  }
  