/* page background */

html, body {
  background: linear-gradient(to bottom, rgb(32, 55, 66), rgb(58, 81, 92));
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  text-align: left;
  font-family: 'Quicksand', sans-serif;
  overflow: auto;

}

.nav-logo {
  border-radius: 5px;
}




#main-container {
  background-color: rgba(95, 158, 160, 0.3);
  
  width: 80%;
  height: 100%;
  margin-left: 10%;
  text-align: center;
  overflow: auto;
}


h1 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 10vw;
  padding-top: 30px;

}

h2 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 6vw;
}

h4 {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 3vw;
}

.heading {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  text-align: center;
  width: 100%;
  padding-top: 60px;
  
}

hr {
  
  width: 80%;
  text-align: center;
 
  
}

.button-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

p {
  color: white;
  margin-bottom: 30px;
  font-size: 17px;
}


.button {
  background-color: white;
  color: rgb(16, 17, 17);
  padding: 10px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: white;
}

.button:hover {
  background-color: rgb(255, 255, 255); 
  text-decoration: none;
  color: rgb(13, 14, 14);
}

.round-pups {
   padding-top: 30px;
 
  
}

.click {
  display: inline-block;
  margin-top: 30px;
  margin-left: 4%;
  margin-right: 4%;
  justify-content: space-evenly;
}

.round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.6;
  
  

}

.round:hover {
  opacity: 1;
}



@media only screen and (max-width: 520px)   {



  #main-container {
    height: 100%;
    
  }


  hr {
    margin-top: 30px;
  }

  .round-pups {
    padding-top: 20px;
   
  }

  .round {
    width: 45px;
    height: 45px;
  }

  .click {
    margin-top: 10px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .click p {
    font-size: 10px;
  }
}


@media only screen and (max-width: 799px)   {


  #main-container {
    height: 100%;
    
  }

}


@media only screen and (max-width: 1040px) {




  #main-container {
    height: 100%;
    
  }
}


@media only screen and (max-width: 5000px)   {

  .heading {
     padding-top: 20px;
  }

  #main-container {
    height: 100%;
    
    
  }

  

}

/* toggle button */


#button {
  text-align: center;
  outline: none;
  border-radius: 20px;
  padding: 5px;
  margin: 10px 10px;
  border-style: solid;
 border-color: white;
}



/* day mode styles */

/* background */

.dayMode {
  background: linear-gradient(to top, rgb(221, 232, 238), rgb(141, 170, 184));
  background-position: absolute;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  
  
}

/* text */


.main-day {
  color: rgb(42, 71, 71);
  text-decoration: none;
}

/* button */

.button-day {
 background-color: rgb(42, 71, 71);
 color: white;
 border-style: solid;
 border-color: white;
}