/* page background */

html, body {
    background: linear-gradient(to bottom, rgb(32, 55, 66), rgb(58, 81, 92));
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Quicksand', sans-serif;
}

.nav-logo {
    border-radius: 5px;
}


#info-container {
    background-color: rgba(95, 158, 160, 0.3);
    width: 80%;
    height: auto;
    margin-left: 10%;
    line-height: 40px;
    overflow: auto;
    
}

.info {
    padding: 60px 10% 0px 10%;
    
    
}

h3 {
    color: white;
    
}

p {
    color: white;
    text-align: justify;
    padding-top: 30px;
    font-size: 18px;
}




#a-info {
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 420px) {
    #info-container {
        
       
        height: 100%;
        
    }

    p {
        font-size: 15px;
    }
}

@media only screen and (max-width: 799px) {
    #info-container {
        
        line-height: 30px;
        height: 100%;
        
    }
}

@media only screen and (max-width: 1040px) {
    #info-container {
        
        line-height: 30px;
        height: 100%;
    }
}

@media only screen and (max-width: 4400px) {
    #info-container {
        
        height: 100%;
       
    }
}

/* toggle button */

#button {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 10px;
    border-style: solid;
    border-color: white;
}



/* day mode styles */

/* background */

.dayMode {
    background: linear-gradient(to top, rgb(221, 232, 238), rgb(141, 170, 184));
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;

}

/* text */

.info-day {
    color: rgb(33, 56, 56);
    text-decoration: none;
}

/* button */

.button-day {
    background-color: rgb(42, 71, 71);
    color: white;
    border-style: solid;
    border-color: white;
   }